* {
    box-sizing: border-box;   
}


.box {
    width: 200px;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    color: white;
    transition: width 0.5s ease-in-out 0.5s, background-color 0.5s ease-in-out;
}

.box:hover {
    width: 300px;
    background-color: navy;
}